pandas 
numpy
plotly
streamlit
langchain>=0.2
langchain-core>=0.2
python-dotenv>=1.0

langchain-openai>=0.2
langchain-google-genai>=1.0
langchain-ollama>=0.1
# Supabase
supabase>=2.0
psycopg2-binary>=2.9
